h1 {font-family: 'Bree Serif', serif;
text-align: center;}

.header {
  background-color: #DDEEFF;
  margin-top: 10px;
  padding: 20px;
}

h2{font-family: 'Assistant', sans-serif;}

.space-top {
  margin: 32px;
  width: 1050px;
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 250px;
  height: 250px;
  margin: 20px;
  background-color: skyblue;
  background-size: cover;
  background-repeat: no-repeat;
}
.project-1 {
  background-image: url("Portfolio-pics/instagram-photo.png");
}
.project-2 {
  background-image: url("Portfolio-pics/simon-says.png");
}
.project-3 {
  background-image: url("Portfolio-pics/computer-thinks.png")
}
.project-4 {
  background-image: url("Portfolio-pics/whack-a-mole.png")
}
