h1 {font-family: 'Bree Serif', serif;
text-align: center;}

.header {
  background-color: #DDEEFF;
  margin-top: 10px;
  padding: 20px;
}

h2{font-family: 'Assistant', sans-serif;}

.space-top {
  margin: 32px;
  width: 1050px;
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 250px;
  height: 250px;
  margin: 20px;
  background-color: skyblue;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.project-1 {
  background-image: url("Portfolio-pics/instagram-photo.png");
}
.project-2 {
  background-image: url("Portfolio-pics/simon-says.png");
}
.project-3 {
  background-image: url("Portfolio-pics/computer-thinks.png")
}
.project-4 {
  background-image: url("Portfolio-pics/whack-a-mole.png")
}
.project-5 {
  background-image: url("Portfolio-pics/photo-car.png")
}
.project-6 {
  background-image: url("Portfolio-pics/dog-enc.png")
}
.title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-weight: bold;
  background-color:rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 8px;
  transform: translateY(100%);
  transition: 1s all;
}
.project:hover .title{
  transform: translateY(0%);
}
